.widgets {
  flex: 0.2;
  position: sticky;
  top: 80px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widgets_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widgets_header h2 {
  font-size: 16px;
  font-weight: 400;
}

.widgets_article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widgets_article:hover {
  background-color: whitesmoke;
}

.widget_article_left {
  color: #0177b7;
  margin-right: 5px;
}

.widget_article_left .MuiSvgIcon-root {
  font-size: 10px;
}

.widget_article_right {
  flex: 1;
}
.widget_article_right h4 {
  font-size: 14px;
}
.widget_article_right p {
  font-size: 12px;
  color: gray;
}
